<div class="header-wrapper">
  <img src="./assets/img/default-avatar.png">
  <span class="username-text" *ngIf="!isCollapsed">
    {{ username }}
  </span>
  <div (click)="goSetting()" class="floating-btn header-btn" *ngIf="!isCollapsed">
    <i nz-icon type="setting"></i>
  </div>
  <div (click)="goSummary()" class="floating-btn header-btn" *ngIf="!isCollapsed">
    <i nz-icon type="calendar"></i>
  </div>
</div>
<div class="list-wrapper">
  <app-list [isCollapsed]="isCollapsed"></app-list>
  <div class="add-list-btn-wrapper">
    <button nz-button nzGhost nzType="dashed" (click)="openAddListModal()">
      <i nz-icon type="plus"></i>
      <span *ngIf="!isCollapsed">新列表</span>
    </button>
  </div>
</div>
