<div class="full-screen page-content">
  <div class="wrapper">
    <img class="logo-img"
         src="./assets/img/logo.png"
         alt="">
    <div class="text-wrapper">
      <h1 class="title-text">
        Today
      </h1>
    </div>
    <input nz-input
           placeholder="请输入你喜欢的用户名"
           #usernameInput
           [(ngModel)]="username">
    <button nz-button
            [nzType]="'primary'"
            (click)="completeSetup()"
            [disabled]="!usernameInput.value">
      开始
    </button>
    <div class="copy-right">
      Copyright © 2018 Wendell Hu
    </div>
  </div>
</div>
