<div class="full-screen setting-container">
  <div class="back-btn floating-btn" (click)="goBack()">
    <span>
      <i class="anticon anticon-left"></i>
    </span>
  </div>
  <div class="content">
    <div class="body">

      <nz-divider nzType="horizontal" nzText="更换头像"></nz-divider>

      <nz-upload class="avatar-uploader"  nzName="avatar"
        nzListType="picture-card" [nzShowUploadList]="false" nzAction="https://jsonplaceholder.typicode.com/posts/" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event,true)">
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
      </nz-upload>
      <nz-progress *ngIf="true" [nzPercent]="progress" [nzShowInfo]="false"></nz-progress>


      <nz-divider nzType="horizontal" nzText="用户名"></nz-divider>
      <input nz-input #usernameInput [nzSize]="'large'" placeholder="用户名" (blur)="validateUsername(usernameInput.value)">
      <nz-divider [nzType]="'horizontal'" [nzText]="'应用设置'"></nz-divider>

    </div>
  </div>
</div>
